<div data-ng-controller="releaseChanges as releaseChangesVm">
    <div class="widget wlightblue" data-ng-show="releaseChangesVm.state.visible && releaseChangesVm.hasRepositories()" style="position: relative">
        <div data-remi-widget-header="" title="Release Repositories" data-allow-collapse="true">
        </div>
        <div class="widget-content text-info">
            <div class="list-long-container">
                <div class="container div-table div-table-striped">
                    <div class="row div-table-header">
                        <div class="col-sm-1 text-right">#</div>
                        <div class="col-sm-1 text-center">Save</div>
                        <div class="col-sm-2">Repository</div>
                        <div class="col-sm-1 text-center">Include</div>
                        <div class="col-sm-1 text-center">From Latest</div>
                        <div class="col-sm-3">From</div>
                        <div class="col-sm-3">To</div>
                    </div>
                    <div class="div-table-body div-table-body-300">
                        <div class="row" data-ng-repeat="c in releaseChangesVm.repositories">
                            <div class="col-sm-1 text-right">{{$index + 1}}.</div>
                            <div class="col-sm-1 text-center">
                                <button class="btn btn-info" data-ng-click="releaseChangesVm.updateReleaseRepository(c)"
                                        data-access-control="UpdateReleaseRepositoryCommand" data-restriction-mode="disable"
                                        data-ng-disabled="!c.hasChanged"
                                    style="padding: 1px 4px 1px;">
                                    <i class="fa fa-save" style="margin: 2px 4px;"></i>
                                </button>
                            </div>
                            <div class="col-sm-2">{{c.Repository}}</div>
                            <div class="col-sm-1 text-center">
                                <input type="checkbox" data-ng-change="releaseChangesVm.repositoryChanged(c)" data-ng-model="c.IsIncluded"
                                    data-access-control="UpdateReleaseRepositoryCommand" data-restriction-mode="disable" />
                            </div>
                            <div class="col-sm-1 text-center">
                                <input type="checkbox" data-ng-change="releaseChangesVm.repositoryChanged(c)" data-ng-model="c.LatestChange"
                                    data-access-control="UpdateReleaseRepositoryCommand" data-restriction-mode="disable" />
                            </div>
                            <div class="col-sm-3">
                                <input type="text" data-ng-change="releaseChangesVm.repositoryChanged(c)" data-ng-model="c.ChangesFrom"
                                    data-access-control="UpdateReleaseRepositoryCommand" data-restriction-mode="disable"
                                    data-ng-disabled="c.LatestChange"
                                    style="padding: 0 2px !important; width: 100% !important" />
                            </div>
                            <div class="col-sm-3">
                                <input type="text" data-ng-change="releaseChangesVm.repositoryChanged(c)" data-ng-model="c.ChangesTo"
                                    data-access-control="UpdateReleaseRepositoryCommand" data-restriction-mode="disable"
                                    style="padding: 0 2px !important; width: 100% !important" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-foot">
            <button type="button" class="btn btn-default pull-right"
                data-ng-click="releaseChangesVm.getReleaseChanges(releaseChangesVm.releaseWindow)">
                <span class="glyphicon glyphicon-refresh"></span>
                Refresh
            </button>
            <div class="clearfix"></div>
        </div>
        <div class="list-loader" data-ng-show="releaseChangesVm.state.isBusy">
        </div>
    </div>
    <div class="widget wlightblue" data-ng-show="releaseChangesVm.state.visible" style="position: relative">
        <div data-remi-widget-header="" title="Release Changes"
            data-allow-collapse="true">
        </div>
        <div class="widget-content text-info">
            <div class="list-container">
                <div class="list-panel">
                    <div>
                        <table class="table table-condensed table-striped">
                            <colgroup>
                                <col style="width: 2%" />
                                <col style="width: 5%" />
                                <col style="width: 2%" />
                                <col style="width: 45%" />
                                <col style="width: 20%" />
                                <col style="width: 10%" />
                                <col style="width: 16%" />
                            </colgroup>
                            <thead>
                                <tr class="changes-widget">
                                    <th>#</th>
                                    <th>Repository</th>
                                    <th>Ticket</th>
                                    <th>Description</th>
                                    <th>Owner</th>
                                    <th>Identifier</th>
                                    <th>When?</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="c in releaseChangesVm.releaseChanges" class="changes-widget">
                                    <td>{{releaseChangesVm.index($index)}}.</td>
                                    <td>{{c.Repository}}</td>
                                    <td>
                                        <span data-ng-show="!c.tickets" class="refer-absent" title="No ticket found!">Ticket</span>
                                        <a data-ng-show="!!c.tickets" class="refer-present" title="Ticket is found!" data-ng-click="releaseChangesVm.openTickets(c.tickets)">Ticket</a>
                                    </td>
                                    <td>{{c.Description}}</td>
                                    <td>{{c.Owner}}</td>
                                    <td title="{{c.Identifier}}">{{c.Identifier.substr(0,10)}}...</td>
                                    <td>{{c.Date | localdate:'MMM Do HH:ss'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="center-block pagination-sm"
                        data-pagination=""
                        data-total-items="releaseChangesVm.totalItemsCount"
                        data-items-per-page="releaseChangesVm.itemsPerPage"
                        data-ng-model="releaseChangesVm.currentPage"
                        data-max-size="5"
                        data-ng-change="releaseChangesVm.pageChanged()"
                        data-boundary-links="true"
                        data-rotate="false">
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-foot">
            <button type="button" class="btn btn-default" data-ng-show="releaseChangesVm.canReFixChanges"
                data-confirmation="Do you really want to re-assign release changes? Existing changes will be detached from release"
                data-confirm-type="question"
                data-access-control="ReAssignReleaseChangesToReleaseCommand" data-restriction-mode="hide"
                data-ng-click="releaseChangesVm.reAssignToRelease()">
                Re-assign to release</button>
            <button type="button" class="btn btn-default"
                data-ng-show="releaseChangesVm.state.visible && releaseChangesVm.hasRepositories()"
                data-confirmation="Do you really want to reload the repositories from plugin config?"
                data-confirm-type="question"
                data-access-control="LoadReleaseRepositoriesCommand" data-restriction-mode="hide"
                data-ng-click="releaseChangesVm.reloadRepositories()">
                Reload from plugin</button>
            <button type="button" class="btn btn-default pull-right"
                data-ng-click="releaseChangesVm.getReleaseChanges(releaseChangesVm.releaseWindow)">
                <span class="glyphicon glyphicon-refresh"></span>
                Refresh
            </button>
            <div class="clearfix"></div>
        </div>
        <div class="list-loader" data-ng-show="releaseChangesVm.state.isBusy">
        </div>
    </div>
</div>
