bin/
obj/
Logs/

#Ignore files build by Visual Studio
*.obj
bin/*/*.exe
*.pdb
*.pidb
*.user
*.aps
*.pch
*.docstates
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.ncrunchsolution
*.ncrunchproject
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
[Rr]elease/
_ReSharper*/
[Tt]est[Rr]esult*
*.docstates
*.swp
*.*~
*.gpState
*.ReSharper.*
*.DotSettings
*.preflight
*.orig
*.ldf
*.mdf
_temp
*.mdf

/packages/
/ReMi.Api/packages/*
/ReMi.Api.Runner/packages/*
/ReMi.Web/packages/*
/ReMi.Web.Runner/packages/*
/ReMi.Utils/packages/*
/ReMi.Core/packages/*
/Plugins/Email/packages/*
/Plugins/Gerrit/packages/*
/Plugins/GO/packages/*
/Plugins/Jenkins/packages/*
/Plugins/Jira/packages/*
/Plugins/LDAP/packages/*
/Plugins/QaStats/packages/*
/Plugins/ZenDesk/packages/*

/ReMi.Web/ReMi.Web.UI.Tests/Source

_Chutzpah.*.html

!/ReMi.Web/ReMi.Web.UI.Tests/Tests/app/release
!/ReMi.Web/ReMi.Web.UI/app/release
