<div class="widget wlightblue" data-ng-controller="queries as vm">
    <div data-remi-widget-header="" title="Query Permissions" data-allow-collapse="true"></div>
    <div class="widget-content user">
        <div class="list-long-container">
            <div class="list-wide-panel" style="padding-right: 5px;">
                <table class="table table-condensed table-striped table-col-striped" style="margin-top: 110px !important">
                    <thead>
                        <tr style="line-height: 200px">
                            <th><span style="font-weight: bold">Group</span></th>
                            <th><span style="font-weight: bold">Query</span></th>
                            <th style="text-align: center" 
                                data-access-control="SaveQueryPermissionRuleCommand" data-restriction-mode="hide"><span style="font-weight: bold">Rules</span></th>
                            <th data-ng-repeat="role in vm.roles" class="text-vertical"><span>{{role.Description}}</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="query in vm.queries">
                            <td data-ng-if="query.Count" rowspan="{{query.Count}}">{{query.Group}}</td>
                            <td style="border-right: none">{{query.Description}}</td>
                            <td style="padding: 0; width: 80px; text-align: center; border-left: none"
                                data-access-control="SaveQueryPermissionRuleCommand" data-restriction-mode="hide">
                                <button class="btn btn-default" style="margin: 2px; padding: 3px 5px;" type="button"
                                        data-ng-click="vm.editRule(query)"
                                        data-ng-class="{ 'active': query.HasRuleApplied }">
                                    Edit Rule</button>
                            </td>
                            <td data-ng-repeat="role in vm.roles" style="padding: 2px 3px; width: 30px">
                                <div class="btn-group" style="margin: 0">
                                    <button class="btn btn-default"
                                        data-ng-class="{ 'active': query[role.ExternalId] }"
                                        data-ng-click="vm.changeQueryRole(query, role)"
                                        style="margin: 0; padding: 3px 4px; width: 24px"
                                        title="{{role.Description + '\n' + query.Description}}"
                                        type="button"
                                        data-access-control="AddQueryToRoleCommand"
                                        data-restriction-mode="disable">
                                        <i class="fa"
                                            data-ng-class="{ 'fa-check': query[role.ExternalId],  'fa-square-o': !query[role.ExternalId] }"
                                            style="margin: auto"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="list-loader" data-ng-show="vm.state.isBusy">
            </div>
        </div>
    </div>
    <div class="widget-foot">
        <div class="clearfix"></div>
    </div>
    <div class="modal fade" id="queryRuleEditor">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Rule Editor</h4>
                </div>
                <div class="modal-body" data-ng-show="!vm.currentRule">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-success" data-ng-click="vm.generateNewRule()"><i class="fa fa-plus"></i>Add Rule</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body" data-ng-show="vm.currentRule">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-danger" data-ng-click="vm.deleteRule()"><i class="fa fa-remove"></i>Remove Rule</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div data-rule-editor="" data-rule="vm.currentRule" data-is-busy="vm.state.ruleState.isBusy"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-info" data-ng-click="vm.testBusinessRule()"><i class="fa fa-dashboard"></i>Run Test</button>
                                <button class="btn btn-primary" data-ng-click="vm.savePermissionRule()"><i class="fa fa-save"></i>Save</button>
                                <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle-o"></i>Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-loader" data-ng-show="vm.state.ruleState.isBusy">
            </div>
        </div>
    </div>
</div>

